<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.katerin.androidproyectov6">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Ver_Pedidos_Menu_Admi"></activity>
        <activity android:name=".Ver_Menus_Pedido_Admi" />
        <activity android:name=".Ver_Restaurante_Pedidos_Admi" />
        <activity android:name=".pmapa" />
        <activity
            android:name=".Login1"
            android:label="@string/title_activity_login1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Ver_Pedidos_Admi" />
        <activity android:name=".Ver_Menus_Admi" />
        <activity android:name=".Ventana_Menus_Admi" />
        <activity android:name=".Info_MenusC" />
        <activity android:name=".Ver_menus_cliente" />
        <activity android:name=".Info_RestauranteCA" />
        <activity android:name=".Ver_Restaurante_Cliente" />
        <activity android:name=".Crear_Pedido" />
        <activity android:name=".Ver_Pedido" />
        <activity android:name=".EditarPedido" />
        <activity android:name=".Ver_Restaurante_Admi" />
        <activity android:name=".Editar_Menu1" />
        <activity android:name=".Ver_menus" />
        <activity android:name=".VerMenu" />
        <activity android:name=".Pedidos" />
        <activity android:name=".Menu" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".Lugar" />
        <activity android:name=".InfoPedidos" />
        <activity android:name=".FotoRestaurante" />
        <activity android:name=".EliminarMenu" />
        <activity android:name=".EditarMenu" />
        <activity android:name=".Editar_Cliente" />
        <activity android:name=".Editar1" />
        <activity android:name=".CrearMenu" />
        <activity android:name=".Carrito" />
        <activity android:name=".Info_Restaurante" />
        <activity android:name=".Editar_Admin1" />
        <activity android:name=".Cliente1" />
        <activity android:name=".Registrar_Usuario" />
        <activity android:name=".Ver_Restaurante2" />
        <activity android:name=".Ver_Restaurante1" />
        <activity android:name=".Admi1" />
        <activity android:name=".Registrar_Restaurant" />
        <activity android:name=".EditarRestaurant" />
        <activity
            android:name=".login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".imagen1"
            android:label="@string/title_activity_imagen1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>